body{
    background: rgb(136, 197, 253);
    font: normal 12pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white; 
    border-radius: 10px; /*Borda Arredondada*/
    padding: 15px; /*Espaço na borda*/
    width: 500px; /*Largura do section*/
    margin: auto; /*Centralizar o section na tela*/
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.295); /*Sombra na borda*/
}
footer {
    color: white;
    text-align: center; /*Centralizar o texto na tela*/
    font-style: italic; /*Deixar a fonte do texto em itálico*/
}